@model IEnumerable<GEmpresasEMM.Models.Departamentos>

@{
    ViewBag.Title = "Lista de departamentos";
}

<h2>Lista de departamentos en la empresa seleccionada</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Buscar por empresa por nombre o sobrenombre: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar" />
    </p>
}
<table class="table">
    <tr>

        <th>
            Nombre departamento
        </th>
        <th>
            Area
        </th>
        <th>
            Fecha de creación
        </th>
        <th>
            Empresa que pertenece
        </th>
         
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Html.DisplayFor(modelItem => item.NombreDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresas.NombreEmpresa)
            </td>
            
        </tr>
    }

</table>

<p> 
    @Html.ActionLink("Volver a la lista", "Index")
</p>