@model IEnumerable<GEmpresasEMM.Models.Empleado>

@{
    ViewBag.Title = "Lista de empleados";
}

<h2>Lista de empleados en la empresa seleccionada</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Buscar por empresa por nombre o sobrenombre: @Html.TextBox("SearchString")
        <input type="submit" value="Buscar" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            Apellido Paterno
        </th>
        <th>
            Apellido Materno
        </th>
        <th>
            tipo de role
        </th>
        <th>
            Direccion
        </th>
        <th>
            Codigo postal
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Municipio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pais)
        </th>
        <th>
            Fecha de nacimiento
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rol)
        </th>
        <th>
            Telefono 1
        </th>
        <th>
            Telefono 2
        </th>
        <th>
            Fecha de alta
        </th>
        <th>
            Nombre departamento
        </th>
        <th>
            Empresa
        </th> 
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoPat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApellidoMat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeRol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CodigoPostal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Municipio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaAlta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departamentos.NombreDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empresas.NombreEmpresa)
            </td>
           
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Volver a la lista", "Index")
</p>